---
method: ssh
log_level: INFO
timeout: 30
ssh_config:
  username: username
  password: ""
  private_key: /home/username/.ssh/id_rsa
  sudo_pass: ""
  sudo: true
  host_config:
    log_files:
      - /var/log/mail.log
      - /data/log/mail.log
      - /data/log/maillog
    log_parser: NoSpaceInDatetimeParser
    time_format: "%Y-%m-%dT%H:%M:%S"
  hosts:
    mx1.mydomain.com:
      log_parser: DayOfWeekParser
      time_format: "%b %d %H:%M:%S"
    # mx2.mydomain.com will use default host_config
    backup-mail.mydomain.com:
      log_parser: NoSpaceInDatetimeParser
      time_format: "%Y-%m-%d %H:%M:%S"
opensearch_config:
  host: ""
  port: 9200
  username: username
  password: ""
  time_zone: "+00:00" # Timezone offset for log timestamps
  timeout: 10 # Connection timeout in seconds
  mapping: # Mapping of application field names to OpenSearch field names
    facility: "log.syslog.facility.name"
    hostname: "host.name"
    message: "message"
    timestamp: "@timestamp"
    service: "log.syslog.appname"
clusters:
  mx-cluster:
    - mx-cluster.mydomain.com
    - mx-cluster.mydomain.com
